aiohttp==3.6.2
APScheduler==3.6.3
astroid==2.3.2
async-timeout==3.0.1
attrs==19.3.0
brotlipy==0.7.0
certifi==2020.6.20
cffi==1.14.0
chardet==3.0.4
colorama==0.4.1
cryptography==2.9.2
Flask==1.1.1
idna
idna-ssl==1.1.0
isort==4.3.21
itsdangerous==1.1.0
Jinja2==2.11.1
lazy-object-proxy==1.4.3
MarkupSafe==1.1.1
mccabe==0.6.1
multidict==4.7.6
pycparser
pylint==2.4.3
pyOpenSSL
pyqt5-tools==5.13.0.1.5
PySocks==1.7.1
python-dotenv==0.10.5
pytz==2019.3
requests
six==1.15.0
typing-extensions==3.7.4.2
tzlocal==2.0.0
urllib3
Werkzeug==0.16.1
win-inet-pton==1.1.0
wincertstore==0.2
wrapt==1.11.2
yarl==1.5.1
